@model List<AUDescriptionListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<div class="statbox widget box box-shadow">
			<div class=" align-left">
				<div class="row">
					<div class="col-md-12 mb-2">
						<button onclick="CreateData()" class="btn-creative btn-3 btn-3e flaticon-plus-1"><span>Hakkımızda Yazısı</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row layout-spacing">
	<div class="col-lg-12">
		<div class="statbox widget box box-shadow">
			<div class="widget-content widget-content-area">
				<div class="table-responsive mb-4">
					<table id="column-filter" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th hidden class="checkbox-column"> Record No. </th>
								<th>İçerik</th>
								<th>Kayıt Tarihi</th>
								<th>Aktiflik</th>
								<th class="text-center">İşlemler</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td hidden class="checkbox-column"> 1 </td>
									<td>@item.Description</td>
									<td>@item.CreatedDate</td>
									@if (@item.Status == true)
									{
										<td><span class="shadow-none badge badge-success">Aktif</span></td>
									}
									else
									{
										<td><span class="shadow-none badge badge-danger">Aktif Değil</span></td>
									}
									<td class="text-center">
										<ul class="table-controls">
											<li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Görüntüle"><i class="flaticon-scale  bg-primary p-1 text-white br-6 mb-1"></i></a> </li>
											<li><a asp-action="Update" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Güncelle"><i class="flaticon-edit  bg-warning p-1 text-white br-6 mb-1"></i></a></li>
											<li><a asp-action="Remove" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Sil"><i class="flaticon-delete  bg-danger p-1 text-white br-6 mb-1"></i></a></li>
										</ul>
									</td>
								</tr>
							}

						</tbody>
						<tfoot>
							<tr>
								<th hidden class="checkbox-column"></th>
								<th>İçerik</th>
								<th>Kayıt Tarihi</th>
								<th>Aktiflik</th>
								<th class="text-center">İşlemler</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
