@model HomeViewModel
@{
	ViewData["Title"] = "Quarter";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="service-two">
	<img src="~/seclight/assets/images/shapes/service-shape-1-3.png" class="service-two__shape-1 float-bob-y" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 d-flex">
				<div class="my-auto">
					<div class="service-two__moc-box wow fadeInUp" data-wow-duration="1500ms">
						<img src="~/seclight/assets/images/resources/quarter.png" style="width:350px;height:100%" class="float-bob-x" alt="">
					</div><!-- /.service-two__moc-box -->
				</div><!-- /.my-auto -->
			</div><!-- /.col-lg-5 -->
			<div class="col-xl-7">
				<div class="service-two__content">
					<div class="block-title block-title__two text-center" style="height:300px;display:flex;align-items:center">
						<h1 style="color:white"><b>Quarter</b></h1>
					</div><!-- /.block-title text-center -->
				</div><!-- /.service-two__content -->
			</div><!-- /.col-lg-7 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.service-two -->

<section class="blog-details"  style="margin-top:-50px">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="sidebar">
					<div class="sidebar__single service-details__tab">
						@foreach (var kategori in Model.quarterCategories)
						{
							<h3>@kategori.Title</h3>
							<ul class="list-unstyled sidebar__cat-list nav-tabs nav">

								@foreach (var baslik in Model.quarterCategoryTitles)
								{
									@if (kategori.Id == baslik.QuarterCategoryId)
									{
										<li>
											<a href="#id-@baslik.Id" id="baslik-@baslik.Id" data-toggle="tab">@baslik.Title</a>
										</li>
									}
								}
							</ul>
							<!-- /.list-unstyled -->
							<br />
						}
					</div><!-- /.sidebar__single -->
				</div><!-- /.sidebar -->
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-9">
				<div class="tab-content">
					@foreach (var baslik in Model.quarterCategoryTitles)
					{
						<div class="service-details__content tab-pane animated fadeInUp" id="id-@baslik.Id">

							<h3>@baslik.Title</h3>
							<p>@baslik.Description</p>

							<hr />
							@foreach (var altBaslik in Model.categorySubtitles)
							{
								@if (baslik.Id == altBaslik.QuarterCategoryTitleId)
								{
									<br />
									<h5 style="font-family:'Poppins',sans-serif">@altBaslik.Title</h5>
									<ul class="service-details__list list-unstyled">
										@foreach (var item in Model.subtitleItems)
										{
											@if (altBaslik.Id == item.CategoySubtitleId)
											{
												<li>
													<i class="seolight-icon-target"></i>
													@item.Description
												</li>
											}
										}
									</ul>
									@foreach (var description in Model.subtitleDescriptions)
									{
										@if (altBaslik.Id == description.CategoySubtitleId)
										{
											<p>
												@description.Description
											</p>
										}
									}
								}
							}


						</div>

						<!-- /.service-details__content -->
					}
				</div>

			</div><!-- /.col-lg-9 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.blog-details -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	$( document ).ready(function() {
    var myId = 'baslik-@Model.defaultCategoryTitle';
	$('#'+myId)[0].click();

});

</script>
